.tweet-container {
  width: 80%; /* Set the width as desired */
  max-width: 500px; /* Set a maximum width if needed */
  max-height: 800px;
  margin: 0 auto; /* Center the container horizontally */
}


.tweet {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  overflow: auto;
}

.tweet p {
  margin: 5px 0;
}

.tweet-actions {
  margin-top: 10px;
}

.tweet-image {
  margin-top: 10px;
}

/* Style for edit and delete buttons */
.edit-button {
  background-color: #007bff !important; /* Override the background color */
  color: white !important; /* Override the text color */
  border: none !important; /* Override the border */
  border-radius: 3px !important; /* Override the border radius */
  padding: 5px 10px !important; /* Override the padding */
  cursor: pointer !important; /* Override the cursor */
  margin-top: 5px !important; /* Override the top margin */
  text-decoration: none !important; /* Override the text decoration */
  width: 60px !important; /* Set width to auto */
  display: inline-block !important; /* Ensure inline block display */
  text-align: center !important
}


.delete-button {
  background-color: #dc3545; /* Red color for delete button */
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
  text-decoration: none;
  width: 80px; /* Fixed width for delete button */
  display: inline-block;
  text-align: center; /* Center text horizontally */
}

.my-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

.my-button:hover {
  background-color: #45a049;
}

.tweet-image {
  max-width: 300px;
  height: auto;
}
.tweet p {
  margin: 5px 0;
  text-decoration: none; /* Remove underline */
}
