.tweet-container {
  width: 80%; 
  max-width: 500px; 
  max-height: 800px;
  margin: 0 auto; 
}


.tweet {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  overflow: auto;
}

.tweet p {
  margin: 5px 0;
}

.tweet-actions {
  margin-top: 10px;
}

.tweet-image {
  margin-top: 10px;
}

/* Style for edit and delete buttons */
.edit-button {
  background-color: #007bff !important; 
  color: white !important; 
  border: none !important; 
  border-radius: 3px !important; 
  padding: 5px 10px !important; 
  cursor: pointer !important; 
  margin-top: 5px !important; 
  text-decoration: none !important; 
  width: 60px !important; 
  display: inline-block !important; 
  text-align: center !important
}


.delete-button {
  background-color: #dc3545; 
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 5px;
  text-decoration: none;
  width: 80px; 
  display: inline-block;
  text-align: center; 
}

.my-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

.my-button:hover {
  background-color: #45a049;
}

.tweet-image {
  max-width: 300px;
  height: auto;
}
.tweet p {
  margin: 5px 0;
  text-decoration: none; 
}
